@model List<Q1TimeS.Models.Db.Survey>
@{
    ViewData["Title"] = "Опросы";
    ViewData["StyleName"] = "admin/admin.css";
    ViewData["ScriptName"] = "userService.js";
    string clientSessionValue = Context.Session.GetString("user_session_key");
}

<div class="survey-list">
    @foreach (var survey in Model)
    {
        <div class="survey-block" id="@survey.SurveyId">
            <div class="card-header">
                <div class="card-title col">
                    <h2>@survey.Title</h2>
                </div>
                <div class="card-actions">
                    <div onclick="connect(@survey.SurveyId)">
                        <i class='bx bxs-plug' style="color:#EC0355;"></i>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <p>@survey.Description</p>
                <div class="card-info">
                    <div class="info-item">
                        <i class='bx bx-time-five'></i>
                        <span>@(survey.CutOffTime / 60)мин</span>
                    </div>
                    <div class="info-item">
                        <i class='bx bxs-group'></i>
                        <span>0/@survey.Limit</span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>