@model SurveyStatisticsViewModel
@{
    ViewData["Title"] = "Статистика по опросу";
    ViewData["StyleName"] = "admin/stats.css";
    ViewData["ScriptName"] = "admin/stats.js";
}

<div class="stats-container">
    <h1>Сводка по опросу</h1>
    <hr>
    <div class="info-block">
        <p>Название: @Model.Survey.Title</p>
        <p>Описание: @Model.Survey.Description</p>
    </div>
    <hr>
    <div class="survey-control-block">
        <div class="clock">
            <input type="checkbox" id="clock-checkbox" class="clock-checkbox" @(Model.Survey.IsRunning ? "checked" : "")>
            <label for="clock-checkbox" class="clock-label" onclick="toggleRun(@Model.Survey.SurveyId)">
                <span id="timer-text">@Model.Survey.CCode</span>
            </label>
        </div>
        <h3 class="connected">Подключено @ViewBag.UserCount из @Model.Survey.Limit</h3>
        <div id="remaining-time" data-cutoff-time="@Model.Survey.CutOffTime"></div>
    </div>
    <hr>
    <div class="people-block">
        <h1>Участники</h1>
        @if (Model.Users != null && Model.Users.Count > 0)
        {
            <ul>
                @foreach (var user in Model.Users)
                {
                    <li>@user.NickName : @user.SessionKey</li>
                }
            </ul>
        }
        else
        {
            <h3>Участники отсутствуют</h3>
        }
    </div>
    <hr>
    <div class="results-block">
        <h1>Полученные ответы</h1>
        <h3>Ответы отсутствуют</h3>
    </div>
    <hr>
</div>