@model List<Q1TimeS.Models.Db.Survey>
@{
    ViewData["Title"] = "Мастерская администратора";
    ViewData["StyleName"] = "admin/admin.css";
    ViewData["ScriptName"] = "admin/admin.js";
}

<div class="survey-list">
    @foreach (var survey in Model)
    {
        <div class="survey-block" id="@survey.SurveyId">
            <div class="card-header">
                <div class="card-title col" onclick="go_stats('@survey.SurveyId')">
                    <h2>@survey.Title</h2>
                </div>
                <div class="card-actions">
                    <div onclick="delete_survey('@survey.SurveyId')">
                        <i class='bx bxs-trash-alt' style="color:#EC0355;"></i>
                    </div>
                </div>
            </div>
            <div class="card-content" onclick="go_stats('@survey.SurveyId')">
                <p>@survey.Description</p>
                <div class="card-info">
                    <div class="info-item">
                        <i class='bx bx-time-five'></i>
                        <span>@(survey.CutOffTime / 60)мин</span>
                    </div>
                    <div class="info-item">
                        <i class='bx bxs-group'></i>
                        <span>0/@survey.Limit</span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="add-new">
    <div class="fill-btn" onclick="go_create()">
        <i class='bx bxs-layer-plus'></i>
        <span class="fill-btn-text">Добавить</span>
    </div>
</div>
